<h1>This is the best Music Library</h1>

<section id="home">

    <form id="search" action="/artist-search-results" , method="GET">
        <input type="text" placeholder="Post Malone" name="artist">
        <br>
        <button type="submit">Search for an Artist</button>
    </form>

</section>